// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  // border: 1px solid black;
  margin: 10px 0;
}

.comment input {
  width: 520px;
  min-height: 30px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  border: none;
}
.comment-profile {
  // border: 1px solid black;
  margin: 10px 0;
  width: 75%;
  // align-items: center;
}

.comment-profile input {
  width: 100%;
  min-height: 30px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  border: none;
}

.comment-profile-admin-toggle {
  position: relative;
  /* float: right; */
  /* vertical-align: top; */
  width: 40px;
  font-size: 6px;
  background-image: url("https://pbs.twimg.com/profile_images/613033768530546688/iBTU7oBx.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-origin: content-box;
  padding-bottom: 5%;
  margin-bottom: 1%;
  outline: none;
  height: 20px;
  /* vertical-align: baseline; */
  margin-top: 4%;
  border: none;
  // border: 1px solid black;
  cursor: pointer;
}

.comments-container {
  // border: 1px solid black;
  width: 570px;
  margin: 8px 0;
  // display: block;
}

.comment-instance {
  // border: 1px solid black;
  padding-top: 1px;
  padding-bottom: 1px;
}

.comment-instance > h4 {
  // border: 1px solid black;
  display: inline-block;
  // float: left;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.comment-instance > p {
  display: inline;
  margin: 0;
  padding: 0;
  // float: left;
  line-height: 1;
  word-wrap: break-word;
  // border: 1px solid black;
}

.comment-instance-button {
  display: inline;
  margin: 0;
  padding: 0px;
  border: none;
  background: transparent;
  color: lightgray;
  font-size: 16px;
  float: right;
  cursor: pointer;
  outline: none;
  vertical-align: top;
}

.comment-instance-button-hidden {
  display: none;
}

.comment-submit {
  display: none;
}
