// Place all the styles related to the api::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

.posts {
  text-align: center;
}

.posts-feed {
  // -webkit-animation: background .5s cubic-bezier(1,0,0,1) infinite;
  // animation: background .5s cubic-bezier(1,0,0,1) infinite;
}

.post-item {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 500px;
  border-radius: 8px;
}

.post-item-photo img {
  width: 400px;
  height: 300px;
  // border: 1px solid black;
  cursor: pointer;
}

.comment {
  // border: 1px solid black;
  margin: 10px 0;
}

.comment input {
  width: 400px;
  min-height: 25px;
}

.post-description {
  // border: 1px solid black;
  width: 400px;
  min-height: 25px;
  position: relative;
  line-height: 0;
  padding: 2px;
  // display: flex;
  // align-items: center;
}

.post-description h4 {
  // border: 1px solid black;
  display: inline-block;
  // float: left;

}
.post-description p {
  // border: 1px solid black;
  display: inline;
  margin: 0;
  padding: 0;
  line-height: 1;
  word-wrap: break-word;
}

.post-description .like-count {
  display: block;
  margin-top: 0px;
  padding-top: 3px;
}

.poster-pic-name {
  width: 400px;
}

.create-post-button {
    position: fixed;
    display: inline;
    bottom: 20%;
    right: 10%;
    opacity: .5;
}
.create-post-button img {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.modal {
  text-align: center;
  line-height: 1;
  margin: 10px;
  margin: 0 auto;
  min-width: 250px;
  max-width: 450px;
  background-color: oldlace;
}

.modal textarea {
  resize:vertical;
  max-height: 75px;
}

.modal button {
  width: 120px;
  height: 30px;
}

.modal > * {
  margin-top: 10px;
}

.profile-pic-thumbnail {
  width: 25px;
  height: 25px;
}
