
// Place all the styles related to the api::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@-webkit-keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

@keyframes background {
  0% { background-color: #f99; }
  33% { background-color: #9f9; }
  67% { background-color: #99f; }
  100% { background-color: #f99; }
}

.posts {
  text-align: center;
  margin: 0;
}

.posts-feed {
  // -webkit-animation: background .5s cubic-bezier(1,0,0,1) infinite;
  // animation: background .5s cubic-bezier(1,0,0,1) infinite;
  background-color: #fafafa;
  margin: 0;
}

.post-item {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  border-radius: 8px;
  border: 1px solid lightgray;
  overflow: hidden;
  background-color: white;
}

.post-item-photo img {
  width: 600px;
  height: 600px;
  // border: 1px solid black;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.comment-like-container {
  // border: 1px solid black;
  display: flex;
  flex-direction: row;
  // background-color: white;
}

.like-button {
  margin: 10px 10px;
  width: 40px;
  height: 35px;
  background-image: url("https://cdn1.thehunt.com/app/public/system/note_images/2220538/note_view/855921417cec94926e05331c9ec5bc92.jpg");
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.comment {
  // border: 1px solid black;
  margin: 10px 0;
}

.comment input {
  width: 520px;
  min-height: 30px;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  border: none;
}

.post-description {
  // border: 1px solid black;
  width: 570px;
  min-height: 50px;
  position: relative;
  line-height: 0;
  // margin: 10px;
  // display: flex;
  // align-items: center;
}

.post-description h4 {
  // border: 1px solid black;
  display: inline-block;
  // float: left;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.post-description p {
  // border: 1px solid black;
  display: inline;
  margin: 0;
  padding: 0;
  // float: left;
  line-height: 1;
  word-wrap: break-word;
}

.post-description .like-count {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px 0;
}

.poster-pic-name {
  width: 600px;
  min-height: 30px;
  display: flex;
  align-items: center;
  background-color: white;
}

.profile-pic-thumbnail {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  padding: 4px;
  padding-left: 8px;
}

.profile-link {
  display: inline;
  font-weight: bold;
  font-size: 16px;
  // margin-left: 5px;
  color: black;
}

.create-post-button {
    position: fixed;
    display: inline;
    bottom: 20%;
    right: 10%;
    opacity: .5;
}
.create-post-button img {
    height: 90px;
    width: 90px;
    cursor: pointer;
}

.modal {
  text-align: center;
  line-height: 1;
  margin: 10px;
  margin: 0 auto;
  min-width: 250px;
  max-width: 450px;
  border: 2px solid lightgray;
  outline: none;
  background-color: white;
  border-radius: 10px;
  // background-image: url("http://res.cloudinary.com/duep1w4tv/image/upload/v1478319420/ShareAGram/jrqiudj9xrt4s6hxupim.jpg");
  // background-size: cover;
}

.modal textarea {
  resize:vertical;
  max-height: 75px;
}

.modal button {
  width: 120px;
  height: 30px;
}

.modal > * {
  margin-top: 10px;
}

.create-post-error-list {
  // border: 1px solid black;
  padding: 0;
}

.create-post-error {
  // border: 1px solid black;
  color: red;
}
