div, a, html, p, a, img, h1, h2, h3, h4, h5, h6, button, input, label, form, section, span, nav, ul, li {
  text-decoration: none;
  list-style: none;
  text-align: inherit;
}

html, body {
  width: 100%;
  /*border: 1px solid green;*/
  overflow-x: hidden;
  background-color: white;
}

body {
  background-color: #fafafa;
  /*background-color: magenta;*/
}
