// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.footer {
  border: 1px solid black;
  position: relative;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
}

.footer-item {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.footer img {
  height: 40px;
  width: 40px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.logo img {
  width: 40px;
  height: 40px;
  // border: 1px solid black;
}

.logo-title {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  // border: 1px solid black;
}

.header-app-title {
  border-left: 1px solid black;
  margin-left: 5px;
  padding-left: 5px;
  font-family: 'Lobster', cursive;
  font-size: 28px;
}

.search-bar {
  margin-right: 30px;
  // border: 1px solid black;
  height: 25px;
  width: 130px;
}

.search-bar input {
  border-radius: 7px;
  font-size: 16px;
  height: 20px;
  width: 110px;
}

.navbar {
  display: flex;
  // border: 1px solid black;
}

.navbar-list {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
}

.navbar-item {
  display: flex;
  padding: 5px;
  margin-bottom: auto;
  // border: 1px solid black;
  margin-right: 10px;
}

.navbar button {
  margin-top: 10px;
  cursor: pointer;
}

.navbar img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
