<!DOCTYPE html>
<html>
  <head>
    <title>ShareAGram</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script type='text/javascript'>
      window.cloudinary_options = {
        cloud_name: "duep1w4tv",
        upload_preset: "ir4oq9ro"
      };
    </script>
    <!-- need to hide away cloud_name and upload_preset -->
    <script src="https://use.fontawesome.com/f05ed3aaa6.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="http://res.cloudinary.com/duep1w4tv/image/upload/c_limit,w_50/v1478630619/ShareAGram/buznhddg6rxxqbijcrng.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
